* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* 'sm': '640px', */
/* @media (max-width: 640px) {
  .col-sm-1 {
    width: 8.333333333333333%;
  }
  .col-sm-2 {
    width: 16.66666666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333333333%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333333333%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .bg-rectangle {
    display: none;
  }
  .bg-rectangle {
    display: none;
  }
  .joinnow-button {
    display: none;
  }
  .bg-circles {
    display: none;
  }
  .bg-eclips {
    display: none;
  }
  .bg-heart {
    display: none;
  }
  .bg-calories {
    display: none;
  }
}

/* 'md': '768px', */
/* @media (max-width: 768px) {
  .col-md-1 {
    width: 8.333333333333333%;
  }
  .col-md-2 {
    width: 16.66666666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333333333%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333333%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-12 {
    width: 100%;
  }
  .bg-rectangle {
    display: none;
  }
  .joinnow-button {
    display: none;
  }
  .bg-circles {
    display: none;
  }
  .bg-eclips {
    display: none;
  }
  .bg-heart {
    display: none;
  }
  .bg-calories {
    display: none;
  }
} */
*/ #background {
  display: grid;
  height: 100%;
  /* width: 100%; */
  /* max-width: 1440px; */
  min-height: 100vh;
  position: relative;
  /* display: grid; */
  align-items: center;
  gap: 2rem;
  background: #2e3338;
}


/* NAVBAR | HEADER */
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.25rem;
  background: linear-gradient(260.75deg, #ffac58 -19.54%, #f07800 108.38%);
  box-shadow: 0 0 2rem 0.3rem #5a5a5a;
}

.logo{
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}
.hamburger{
  display: none;
}
.nav-bar ul{
  display: flex;
}
.nav-bar ul li a{
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 48px;
  opacity: 0.5;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.nav-bar ul li a:hover{
  border-bottom: 2px solid #3d0f02;
  opacity: 1;
}
.joinnow-button {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: .5rem;
  margin-bottom: 0.5rem;
  border-radius: 50px;
  border: 1px solid transparent;
}
.joinnow-button:hover {
  background: linear-gradient(266.08deg, #ea7f60 -20.56%, #f07800 109.12%);
  border: 1px solid white;
}

/* HERO ---------------------------*/
#hero {
  position: relative;
  background: linear-gradient(186.39deg, #545d63 22.68%, #2e3338 94.97%);
  margin-top: 72px;
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 1.5rem;
  position: relative;
}

.bg-rectangle {
  position: absolute;
  left: 65rem;
  top: 0;
}

.bg-rectangle img {
  height: 45rem;
  width: 25rem;
}

.bg-eclips {
  position: absolute;
  width: 37.43rem;
  height: auto;
  left: 0;
  top: 0;
}

.bg-circles {
  position: absolute;
  width: auto;
  height: 85%;
  left: 40rem;
  top: 0;
}

.bg-heart {
  position: absolute;
  left: 75rem;
  top: 12rem;
}

.bg-calories {
  position: absolute;
  left: 40rem;
  top: 30rem;
}

.hero-contents {
  width: 41rem;
  height: 43rem;
}

.row1 {
  background: #393d42;
  border-radius: 6.25rem;
  width: fit-content;
  padding: 1.25em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 200;
  padding: 1rem;
}

.row1 span {
  background: linear-gradient(266.08deg, #ea7f60 -20.56%, #f07800 109.12%);
  border-radius: 24px;
  padding: 0.5em;
}

.row2 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 7.5rem;
  font-size: 6rem;
  font-weight: 900;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

.row2 span {
  color: transparent;
  -webkit-text-stroke: 0.06rem white;
}

.row3 {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.1rem;
  opacity: 0.8;
  margin-top: 1.5rem;
}

.row4 {
  display: flex;
  gap: 1.5rem;
  color: #ffffff;
  margin-top: 4rem;
  text-transform: uppercase;
}

.row4 p {
  color: rgba(255, 255, 255, 0.5);
}

.row5 {
  display: flex;
  gap: 5rem;
}

.row5 button {
  color: #ffffff;
  background: transparent;
  border: 1px solid #ea7f60;
  font-size: 1.5rem;
  margin-top: 4.6rem;
  padding: 1.4rem 1.4rem 1.4rem 1.4rem;
}

.row5 a {
  color: #ffffff;
}

.row5 button:hover {
  background: linear-gradient(266.08deg, #ea7f60 -20.56%, #f07800 109.12%);
}

/* PROGRAMS ---------------------------*/
#programs {
  background: #2e3338;
}

.program2-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem auto;
}
.card2 {
  /* width: 19rem; */
  padding: 1rem;
  height: 16rem;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #3a4045;
}

.programs-container {
  max-width: 1440px;
  margin: 0 auto;
}

.program1-row1 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 4.81rem;
  font-size: 3.5rem;
  font-weight: 900;
  font-style: normal;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program1-row1 span {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.card2:hover {
  background: linear-gradient(266.08deg, #ea7f60 -20.56%, #f07800 109.12%);
  border: 1px solid white;
}

.column-content {
  width: 15rem;
  height: 13rem;
  color: #ffffff;
}

.column-content h3 {
  line-height: 1.3rem;
  letter-spacing: 0.07em;
  font-weight: 700;
  margin-bottom: 1rem;
}

.column-content p {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.column-content img {
  margin-bottom: 1rem;
}

.column-content img:nth-child(2) {
  display: none;
}

.column-content:hover img:nth-child(1) {
  display: none;
}

.column-content:hover img:nth-child(2) {
  display: block;
}

.joinNow {
  display: flex;
}

.program3-row3 {
  width: 83rem;
  height: 30rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

/* LIGHTBOX ------------------------------ */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(337px, 600px));
  grid-gap: 30px;
}

.program3-column1 {
  width: 35rem;
  height: 28rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  gap: 1rem;
}

.cell {
  color: #ffffff;
  cursor: pointer;
}

.pexels:hover {
  background: linear-gradient(266.08deg, #ea7f60 -20.56%, #f07800 109.12%);
  transform: scale(1.1);
  transition: 1s ease;
  border: 1px solid white;
}

.pexels1 {
  object-fit: cover;
  transition: 1s ease;
}
.pexels2 {
  object-fit: cover;
  transition: 1s ease;
}
.pexels3 {
  object-fit: cover;
  transition: 1s ease;
}

.pexels4 {
  object-fit: cover;
  transition: 1s ease;
}

.cell-1 {
  background: #3a4045;
  grid-row: span 2;
}

.cell-2 {
  background: #3a4045;
  grid-column: span 2;
}

.cell-3 {
  background: #3a4045;
}

.cell-4 {
  background: #3a4045;
}
/* LIGHTBOX END ------------------------------ */

.program3-column2 {
  /* width: 35rem; */
  height: 28rem;
  display: grid;
  margin: auto;
  text-transform: uppercase;
  color: #ffffff;
}

.program3-column2 h4 {
  font-size: 1rem;
  color: #ec7e45;
}

.program3-column2 p {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

.program3-column2 span {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.check_list {
  padding: 0px;
  font-size: 1rem;
}
.list{
  line-height: 3rem;
}
.check {
  background: url("img/icons/check.png") no-repeat left top;
  padding-left: 50px;
}
.partners{
  margin-top: 2rem;
}
.partners_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 0.9rem;
}

.partner_cell {
  color: #ffffff;
  height: 5rem;
  text-align: center;
  background: #ec7e45;
  cursor: pointer;
}

/* PRICING ---------------------------*/
#pricing {
  background: #2e3338;
}

.pricing-container {
  max-width: 1440px;
  margin: 0 auto;
}

.pricing-row1 {
  display: grid;
  justify-content: center;
  text-align: center;
}

.pricing-row1 p {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

.pricing-row1 span {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.pricing-row1 h5 {
  color: #ffffff;
  opacity: 0.7;
  margin-top: 1.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.02em;
  font-style: normal;
}

.pricing-row2 {
  margin: 0 auto;
}

.pricing-row2 .details {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
}

.pricing-row2 .details h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.pricing-row2 .details p {
  font-size: 15px;
}
.pricing-row2 .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px 0px;
  padding: 20px;
}
.pricing-row2 .grid .box {
  width: 20rem;
  height: 31rem;
  border: 1px solid #ec7e45;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.05);
  background: linear-gradient(144.93deg, #464d53 -3.05%, #3c4249 102.93%);
  transition: 1s ease;
}
.pricing-row2 .grid .box:hover {
  background: linear-gradient(266.08deg, #ea7f60 -20.56%, #f07800 109.12%);
  transform: scale(1.1);
  transition: 1s ease;
}
.pricing-row2 .grid .box .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555;
}
.pricing-row2 .grid .box .price {
  margin-bottom: 20px;
}
.pricing-row2 .grid .box .price b {
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
}
.pricing-row2 .grid .box .features > * {
  color: #555;
  padding: 8px 0px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pricing-row2 .grid .box .button button {
  width: 100%;
  margin: 25px 0px 0px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.pricing-row2 .grid .box.pricing-column .plan-title {
  color: #eee;
  text-transform: uppercase;
  margin-top: 1rem;
}
.pricing-row2 .grid .box.pricing-column .price {
  color: #fff;
}
.pricing-row2 .grid .box.pricing-column .features > * {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.pricing-row2 .grid .box.pricing-column .button button {
  background: #fff;
  color: #000000;
}
.check-bullet .plan-bullet::before {
  content: "";
  height: 1rem;
  width: 1rem;
  background-image: url("img/icons/white-check.png");
  background-size: cover;
  display: inline-block;
  margin-top: 1rem;
}
.benefits {
  display: flex;
  margin-top: 1rem;
  opacity: 0.5;
}
.benefits a {
  text-decoration: none;
  color: #ffffff;
}

/* ABOUT ---------------------------*/
#about {
  background: #2e3338;
  display: grid;
  justify-content: center;
  align-items: center;
}

.about-container {
  margin: 0 auto;
}

.about-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-column1 {
  color: #ffffff;
  font-family: "Inter";
}

.about-column1 h5 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 600;
  color: #ec7e45;
}

.about-column1 h2 {
  font-size: 5rem;
  line-height: 4.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

.about-column1 h2 span {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.about-column1 p {
  font-size: 1.5rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-top: 3rem;
}

.about-column1 h3 {
  font-size: 1.5rem;
  line-height: 4.5rem;
  font-weight: 400;
}

.about-column1 h3 span {
  color: #ec7e45;
}

.about-column2 {
  height: 31rem;
  cursor: pointer;
  margin-top: 7rem;
}

.about-row2 {
  display: flex;
  height: 10rem;
  color: #ffffff;
  justify-content: space-between;
}

.about-row2 p {
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
  text-transform: uppercase;
}

.about-row2 p span {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.email-shape {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.textarea{
  width: 15rem;
  text-align: center;
  float: left;
  border: none;
  background-color: transparent;
  outline: none;
}
.email-button {
  padding: 9px 20px 9px 20px;
  background: linear-gradient(266.08deg, #ea7f60 -20.56%, #f07800 109.12%);
  cursor: pointer;
}

.shape-container {
  padding: 24px 48px;
  width: 28rem;
  height: 5rem;
  background: #42474d;
}


/* FOOTER*/
#footer {
  background: #292e32;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  margin: 0 auto;
}

.footer-container-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  margin-top: 2.5rem;
}

.column1 {
  padding: 0px;
  color: #ffffff;
}

.column1 a {
  margin-top: 1rem;
  width: 50px;
  height: 5px;
  color: #ffffff;
  text-decoration: none;
}

.column1 p {
  margin-top: 1rem;
}

.column-container {
  display: flex;
  gap: 4.5rem;
}

.footer-column {
  color: #ffffff;
  line-height: 30px;
  cursor: pointer;
}

.footer-column h2 {
  color: #ec7e45;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.55s ease;
}

.footer-column h2:hover {
  border-bottom: 1px solid #ec7e45;
  transition: all 0.55s ease;
}



/* MEDIA QUERY */
@media (max-width: 768px) {
  .bg-rectangle {
    display: none;
  }
  .bg-circles {
    display: none;
  }
  .bg-eclips {
    display: none;
  }
  .bg-heart {
    display: none;
  }
  .bg-calories {
    display: none;
  }
  .joinnow-button{
    display: none;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .hamburger .line{
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: linear-gradient(260.75deg, #ffac58 -19.54%, #f07800 108.38%);;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active{
    height: 2.5rem;
  }
  .nav-bar ul{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    transition: 0.5s;
  }
  .nav-bar ul li a{
    margin-bottom: 1rem;
  }
  
  .hero-contents .row1,
  .row2,
  .row3,
  .row4 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .row4 {
    margin-top: 3rem;
  }
  .row5 {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
  }

  .row2 p {
    font-size: 3rem;
  }

  .programs-container {
    justify-content: center;
    align-items: center;
  }

  .programs-container .program1-row1 {
    align-items: center;
    text-align: center;
  }

  .program1-row1 p {
    font-size: 3rem;
  }
  .program2-row2 {
    width: 100%;
    height: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 2rem;
  }
  .program3-row3 {
    width: 100%;
    height: auto;
    display: grid;
  }

  .program3-column2 {
    margin-top: 2rem;
  }

  .pricing-row2 .grid {
    gap: 20px;
  }
  .pricing-row2 .grid .box.pricing-column {
    transform: scale(1);
  }
  .about-row1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .about-row2 {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .about-column2{
    margin: 0;
  }
  .email-shape {
    margin: 0 auto;
  }
  .footer-container-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
    margin-top: 1rem;
  }
  .column1{
    display: flex;
  }
  .column1 p {
    display: none;
  }
  .footer-column p {
    display: none;
  }
  .footer-column h2{
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  .hero-contents {
    max-width: 430px;
  }
  header {
    padding: 0 1rem;
  }
  .nav-bar.active {
    height: 9rem;
  }
  .nav-bar ul {
    display: grid;
    gap: 1rem;
  }
  .row2 p {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
  .row3{
    font-size: 1rem;
    margin: 0;
    line-height: 2rem;
  }
  .row4{
    margin-top: 1.5rem;
  }
  .row5 {
    display: flex;
    gap: 0;
  }
  .row5 button {
    justify-content: center;
    width: 9.5rem;
    height: auto;
    font-size: 1rem;    
    margin-top: 2rem;
  }
  .hero-contents {
    width: fit-content;
    height: auto;
  }
  .program1-row1 p {
    font-size: 1.5rem;    
    letter-spacing: .5rem;
    padding-top: 2rem;
    line-height: 2.5rem;
  }
  .program2-row2 {
    display: flex;
  }
  .program3-row3 {
    max-width: 430px;
    height: auto;
    display: grid;
  }
  .program3-row3 {
    width: fit-content;
    height: auto;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(168.5px, 300px));
  }  
  .program3-column1 {
    width: 22.5rem;
    height: auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .pexels1{
    width: 81.5px;
    height: 312px;
  }
  .pexels2{
    width: 260.5px;
    height: 148px;
  }
  .pexels3{
    width: 163px;
    height: 148px;
  }
  .pexels4{
    width: 81.5px;
    height: 148px;
  }
  .program3-column2 {
    display: grid;    
    font-size: 1.5rem;
  }
  .program3-column2 h4, p{
    text-align: center;
  }
  .program3-column2 p{
    font-size: 3rem;
    margin-top: -20px;
  }
  .check_list {
    padding: 10px;
    font-size: 1rem;
  }
  .list{
    line-height: 3rem;
  }
  .check {
    background: url("img/icons/check.png") no-repeat left top;
    padding-left: 50px;
  }
  .partners{
    display: none;
  }
  .pricing-row1 {
    margin: 0 auto;
  }
  .pricing-row1 p{
    font-size: 2rem;
  }
  .pricing-row1 h5{
    font-size: .8rem;
  }
  .about-column1 h2 {
    font-size: 3rem;
    border-bottom: 1px solid #fff;
  }
  .about-column1 p{
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .about-column2 img{
    width: 20rem;
    height: auto;
  }
  .shape-container {
    width: 20rem;
  height: 5rem;
  margin: 0 auto;
  gap: 0;
  }
  .textarea {
    width: 10rem;
  }
  .shape-container span, button{
    font-size: .7rem;
  }
  .email-button{
    padding: 7px;
  }
  .footer-column h2 {
    font-size: .8rem;
  }
}
